In [6]:
import pandas as pd

var = pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [6, 7, 8, 9, 10]})
var

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

#### Adding a column which contains sum of column A and B

In [2]:
var["C"] = var["A"] + var["B"]
var

   A   B   C
0  1   6   7
1  2   7   9
2  3   8  11
3  4   9  13
4  5  10  15

###### The same for other operatons

In [7]:
var["More than 3"] = var["A"] > 3
var

   A   B  More than 3
0  1   6        False
1  2   7        False
2  3   8        False
3  4   9         True
4  5  10         True