# <b><font color="crimson">DATAFRAME</font></b>

In [1]:
import pandas as pd

In [14]:
l = [1, 2, 3, 4, 5]
var = pd.DataFrame(l)
var

   0
0  1
1  2
2  3
3  4
4  5

In [13]:
d = {"a": [1, 2, 3, 4], "b": [5, 6, 7, 8]}
var1 = pd.DataFrame(d)
var1

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

#### Printing a certain number of columns (instead of All)

In [18]:
var2 = pd.DataFrame(d, columns=["b"])
var2  # prints only the b column

   b
0  5
1  6
2  7
3  8

In [22]:
var1["a"][2]  # Gives the 3rd row of the element in column "a"

3

#### Using 2d lists and renaming columns

In [28]:
list_1 = [["Kiyochi", 15, "üíÄ", "Class 10"], ["stooopid", 13, "‚ùÑÔ∏è", "Class 9"]]
var3 = pd.DataFrame(list_1)

var3.columns=["Name", "Age", "Best Emoji", "Class"]
var3

       Name  Age Best Emoji     Class
0   Kiyochi   15          üíÄ  Class 10
1  stooopid   13         ‚ùÑÔ∏è   Class 9

#### Using Series to create a dataframe

In [4]:
list_2 = {"Name": pd.Series(["Rishav", "NotRishav", "Kami", "Kiyochi"]), "Age": pd.Series([15, 14, 13, 12])}
var4 = pd.DataFrame(list_2)
var4

        Name  Age
0     Rishav   15
1  NotRishav   14
2       Kami   13
3    Kiyochi   12