### INSERT

In [3]:
import pandas as pd

var = pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [6, 7, 8, 9, 10]})
var

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

#### insert(index, column_name, values)

In [4]:
var.insert(1, "A-B", [10, 30, 50, 70, 90])
var

   A  A-B   B
0  1   10   6
1  2   30   7
2  3   50   8
3  4   70   9
4  5   90  10

Why 1 in the index?<br>
A = 0<br>
B = 1<br>
if i want to add smth in 1 then, B will be 2 (so A-B will be between A and B)

In [10]:
var["C"] = var["A"][:3]
var

   A  A-B   B    C
0  1   10   6  1.0
1  2   30   7  2.0
2  3   50   8  3.0
3  4   70   9  NaN
4  5   90  10  NaN

# DELETE -> var.pop("Column name") or del var["column name"]

In [11]:
var1 = var.pop("A-B")
var1

0    10
1    30
2    50
3    70
4    90
Name: A-B, dtype: int64

In [12]:
var

   A   B    C
0  1   6  1.0
1  2   7  2.0
2  3   8  3.0
3  4   9  NaN
4  5  10  NaN

In [13]:
del var["C"]
var

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10